body {
    background: url(https://www.tomswallpapers.com/large/201503/15117.jpg);
    background-size: cover;
    color: red;
    font-family: 'Shadows Into Light', cursive;
    font-weight: bold;
}

header {
    border: 3px solid yellow;
    font-size: 50px;
    text-align: center;
    margin: 15px auto;
    height: 410px;
    width: 80%;
    padding-top: 2%;
}

.instructions {
    padding-top: 4%;
}

p {
    font-size: 30px;
}

.imgDiv {
    margin: -2%;
}

#hintImg {
    height: 225px;
    width: 375px;
}

.underscore {
    border: 3px solid yellow;
    font-size: 50px;
    text-align: center;
    margin: 50px auto;
    height: 69px;
    width: 80%;
    padding-top: 2%;
}

.gameplay-column {
    border: 3px solid yellow;
    text-align: center;
    font-size: 30px;
    margin: 15px auto;
    height: 145px;
    width: 80%;
    padding-top: 2%;
}

.guess {
    border: 3px solid yellow;
    font-size: 50px;
    text-align: center;
    margin: 50px auto;
    height: 69px;
    width: 80%;
    padding-top: 1%;
}